body {
  background-color: #80afa3;
}

/* #cssDesign, #php, #rubyRails, #java, #cSharp {
  display: none;
} */

h5 {
  padding-top: 2%;
}

h3 {
  padding-top: 3%;
}

#nameStyle {
  font-weight: bold;
  font-family: inherit;
  font-size: 20px;
}

.card {
  margin-top: 2%;
}

.card-img-top {
  height: 200px;
}

/* #container1 {
  width: 75%;
} */

.jumbotron {
  background-image: url("../img/programming.jpeg");
  background-color: #FFFFFF;
  opacity: 0.95;
  min-height: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 5%;
}

#sliders {
  padding-top: 5%;
}

.progress-bar-success {
  background-color: #811C5B;
}

#deck1 {
  margin-bottom: 2%;
}
#buttonPad {
  margin: 2%;
}

#cssResults, #cSharpResults, #javaResults, #phpResults, #rubyResults {
  display: none;
}

#retake {
  margin: 5%;
}
