body {
  background-color: #80afa3;
}

 #php, #rubyRails, #java, #cSharp {
  display: none;
}

h5 {
  padding-top: 2%;
}


#nameStyle {
  font-weight: bold;
  font-family: inherit;
}

.card {
  margin-top: 2%;
}
